<nav class="header">
    <a routerLink="/home"><img class="header__logo" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"></a>        
    <div class="header__search">
      <input class="header__searchInput" type="text">
      <button type="submit" class="btn header__searchIcon" title="Search..."><fa-icon [icon]="searchIcon"></fa-icon></button>
    </div>
    <div class="header__nav">
      <a routerLink="/login" class="header__link">
        <div class="header__option">
          <span class="header__optionLineOne">Hello</span>
          <span class="header__optionLineTwo">Sign In</span>
        </div>          
      </a>
      <a routerLink="/" class="header__link">
        <div class="header__option">
          <span class="header__optionLineOne">Returns</span>
          <span class="header__optionLineTwo">& Orders</span>
        </div>          
      </a>
      <a routerLink="/" class="header__link">
        <div class="header__option">
          <span class="header__optionLineOne">Your</span>
          <span class="header__optionLineTwo">Prime</span>
        </div>          
      </a>
   
      <a routerLink="/checkout" class="header__link">
        <div class="header__optionBasket">          
          <fa-icon [icon]="shoppingBasket"></fa-icon>      
          <span class="header__optionLineTwo header__basketCount">0</span>
        </div>          
      </a>
    </div>
</nav>