<div class="login">
  <a routerLink="/">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png" 
    alt="" class="login__logo">
  </a>
  <div class="login__container">
    <h1>Sign-In</h1>
    <div *ngIf="continuing">
      {{ enteredEmail }} <span><a href="">Change</a></span>
    </div>
    <form action="">
      <h5 *ngIf="!continuing">Email or mobile phone number</h5>
      <h5 *ngIf="continuing">Password</h5>
      <input type="text" name="" id="">
      <!-- <h5>Password</h5>
      <input type="text"> -->
      <button class="login__continueButton" (click)="continue($event)">Continue</button>
    </form>
    <p>
      By continuing, you agree to Amazon's <a href="">Conditions of Use</a> and <a href="">Privacy Notice.</a>
    </p>    
  </div>
  <div class="divider__break">
    <h5>New to Amazon?</h5>
  </div>
  <button class="login__registerButton">Create your Amazon Account</button>
</div>