<div class="home">
  <img class="home__image" 
   src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Projects/JumpIn/Colombia/Fuji_Desktop_Hero_Colombia_en_US_1X._CB449385554_.jpg" alt="">
  <div class="home__row">
    <div class="home__product">
       <app_product
         id="1"
         title="Freddie Mercury: A Life, In His Own Words"
         author="'Freddie Mercury'"
         price="9.7"
         rating="5"
         imageUrl="https://m.media-amazon.com/images/I/41AIWIWFOIL.jpg">        
       </app_product>
       <app_product
         id="1"
         title="Freddie Mercury: A Life, In His Own Words"
         author="'Freddie Mercury'"
         price="9.7"
         rating="5"
         imageUrl="https://m.media-amazon.com/images/I/41AIWIWFOIL.jpg">        
       </app_product>  
    </div>                
 </div> 
</div> 